/* Maintenance page styles */

/* ==========================  Intro  ============================== */
.intro-container {
    min-height: 15vh;
    width: 86vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    padding: 0vw 7vw;
    text-align: center;
}

.intro-container p {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.intro-container .intro-title {
    font-size: 30px;
    font-weight: 700;
}

/* ==========================  Main  ============================== */

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100vw;
    gap: 5vw;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 55vh;
    max-width: 90vw;
    gap: 3vh;
    margin: 5vh 0vh;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 1vw;
    text-align: center;
    border: 1px solid #000;
}

tr:hover td {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.table-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: end;
} 

.table-total span {
    font-size: 16px;
}

.table-total span:last-child,
.table-total span b {
    font-size: 30px;
}


